<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.edu.ecust.faceaccesscontrol">

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_faceicon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".common.ExitDialogActivity" />
        <activity android:name=".common.Toolbar2Activity" />
        <activity android:name=".common.FullScreenActivity" />
        <activity
            android:name=".activity.WelcomeActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.NoAdminMainActivity"
            android:label="@string/noadminmainactivity_label_title"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.RegisterNewUserActivity"
            android:label="@string/registernewuseractivity_label_title"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.AdminMainActivity"
            android:label="@string/adminmainpage_label"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.AdminConfigActivity"
            android:label="@string/adminconfig_label"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.AdminNoticeActivity"
            android:label="@string/adminnotice_label"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.AdminNoticeEditActivity"
            android:label="@string/adminnoticeedit_label"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.CameraRegisterActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.RegisterResultActivity"
            android:label="@string/registerresultactivity_label_title"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.AdminUserManageActivity"
            android:label="@string/adminusermanageactivity_label_title"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.AdminUserDetialActivity"
            android:label="@string/adminuserdetialactivity_label_title"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.AdminUserApproveActivity"
            android:label="@string/adminuserapproveactivity_label_title"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.AdminApproveDetailActivity"
            android:label="@string/adminapprovedetailactivity_label_title"
            android:screenOrientation="landscape" />
        <activity android:name=".activity.CameraRecognizeActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".activity.CalculateActivity"
            android:label="@string/calculateactivity_label_title"
            android:screenOrientation="landscape"/>
    </application>

</manifest>